.middle {
 	margin: auto;
	text-align: center;
	transform: translate(0%, 15%);
}

#start-button {
	background-color: #F95A00; /* Bright orange */
	border: none;
	color: white;
	padding: 0px 50px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 20px;
  	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 3px 10px 0 rgba(0,0,0,0.19);
    transition: 0.3s;
  	border-radius: 50px;
}

#start-button:hover {
	box-shadow: 0 12px 20px 0 rgba(0,0,0,0.2), 0 8px 22px 0 rgba(0,0,0,0.19);
}

div {
  line-height: 80%;
}

h1, h2, h3 {
	font-family: 'Roboto', serif;
	font-weight: 900;
}

#main-title {
	font-size: 80pt;
	color: #FF7A00; /* Orange */
}

#main-subtitle {
	opacity: 60%;
}

#cover-pic {
	width: 20%;
 	border-radius: 50%;
}