.img-display {
    float: left; 
    width: 50%; 
    height: 100%; 
    overflow: hidden;
    display: inline-block;
    border-radius: 10px 0 0 10px;
}

.review-count-display {
    margin: 10px;
    width: auto;
    height: auto;
    position: relative;
    font-weight: 400;
    font-size: 12px;
}

.text-display {
    width: 40%;
    float: left;
    display: inline-block;
    padding: 5%;
    font-weight: 400;
    font-size: 16px;
}

/* elements on stacked cards */
.card-item { 
    background: #FFFFFF; 
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 3px 10px 0 rgba(0,0,0,0.19);
}

h1 {
    font-size: 40px;
    padding-bottom: 10px;
}

.vertical-pad {
    padding: 5px 0;
}

.bullet {
    padding: 0 5px;
}


/* 
Remainder of file written by (with some adaptations) - 
vvv Credit: https://codepen.io/bmarcelino/pen/vRYPXV vvv */

/* Stacked Cards component css */
#selection-body {
  font-family: 'Roboto';
  overflow-x: hidden;
  font-size: 12px;
  padding-top: 8%;
}

.stacked-cards-block {
    position: relative;
}

.no-transition {
  -webkit-transition: none ! important;
  -o-transition: none ! important;
  transition: none ! important;
}

.stackedcards-overflow {
    overflow-y: hidden !important;
}

.stackedcards.init {
    opacity: 0;/* set the opacity to 0 if you want a fade-in effect to stacked cards on page load */
}

.stackedcards {

    position: relative;
    
}

.stackedcards * {
    -webkit-user-select: none;
            -moz-user-select: none;
             -ms-user-select: none;
         user-select: none;
}

.stackedcards--animatable {
    -webkit-transition: all 400ms ease;
            -o-transition: all 400ms ease;
            transition: all 400ms ease;
}

.stackedcards .stackedcards-container > *,
.stackedcards-overlay {
    position: absolute;
    right: 0 !important;
    left: 0 !important;
    margin-left: auto !important;
    margin-right: auto !important;
    width: 800px; /* set 100% */
    height: 400px; /* set 100% */
    will-change: transform, opacity;
    top: 0;
    border-radius: 10px;
}

.left, 
.right {
    color: white;
    font-size: 200px; 
    text-align: center; 
    line-height: 500px;
}

.stackedcards-overlay.left > div,
.stackedcards-overlay.right > div {
    width: 100%;
    height: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.stackedcards-overlay.left,
.stackedcards-overlay.right {   
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    left: 0;
    opacity: 0;
    top: 0;
    height: 100%;
    font-size: 100px;  /*this style was added only for better preview*/
    text-transform: uppercase; /* this style was added only for better preview */
    font-weight: 500; /* this style was added only for better preview */
    color: #fff; /* this style was added only for better preview */
}

.stackedcards-overlay.right {
    background: #7BB3C5;
}

.stackedcards-overlay.left {
    background: #E58D93;
}

.stackedcards-overlay.left:empty,
.stackedcards-overlay.right:empty {
  display: none !important;
}

.stackedcards-overlay-hidden {
    display: none;
}

.stackedcards-origin-bottom {
    -webkit-transform-origin: bottom;
            -ms-transform-origin: bottom;
        transform-origin: bottom;
}

.stackedcards-origin-top {
    -webkit-transform-origin: top;
            -ms-transform-origin: top;
        transform-origin: top;
}

.stackedcards-bottom,
.stackedcards-top,
.stackedcards-none {
    background: #fff; /* set card background background */
    height: 100%;
}

.stackedcards .stackedcards-container > :nth-child(1) {
    position: relative;
    display: block;
}

/* global actions buttons*/
.global-actions {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin-top: 10px;
}

.right-action,
.left-action {
    margin: 0 0;
    width: 60px;
    height: 60px;
    font-size: 30px;
    text-align:center; 
    line-height: 60px !important;

    border-radius: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-transform: uppercase;
    font-weight: 500;
    color: #fff;
}

.action-button {
    padding: 5px;
}

.right-action { 
    background: #7BB3C5; 
}

.left-action { 
    background: #E58D93; 
}


/* ^^^ Credit: https://codepen.io/bmarcelino/pen/vRYPXV ^^^ */