h1, h2, h3 {
	font-family: 'Roboto', serif;
	font-weight: 900;
}

div {
 	line-height: 80%;
}

.preload * {
	-webkit-transition: none !important;
	-moz-transition: none !important;
	-ms-transition: none !important;
	-o-transition: none !important;
}

.middle {
 	margin: 0 auto;
	transform: translate(0%, 15%);
}

.text-left {
	text-align: left;
}

.text-center {
	text-align: center;
}

.display-block {
	border: none;
	display: block;
}

.display-inline {
	display: inline;
}

.standard-block {
	width: 60%;
}

/********************************** Main page CSS **********************************/

#start-button {
	background-color: #F95A00; /* Light orange */
	border: none;
	color: white;
	padding: 0px 50px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 20px;
  	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 3px 10px 0 rgba(0,0,0,0.19);
    transition: 0.3s;
  	border-radius: 50px;
}

#start-button:hover {
	box-shadow: 0 12px 20px 0 rgba(0,0,0,0.2), 0 8px 22px 0 rgba(0,0,0,0.19);
}

#main-title {
	font-size: 80pt;
	color: #FF7A00; /* Orange */
}

#main-subtitle {
	opacity: 60%;
}

#cover-pic {
	width: 20%;
 	border-radius: 50%;
}

/******************************* Preferences page CSS *******************************/


.preference-block {
    overflow: auto;
  	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 3px 10px 0 rgba(0,0,0,0.19);
    padding: 40px;
  	margin-top: 50px;
  	margin-bottom: 50px;
}

.preference-title {
	margin-right: 30px;
}

.category-display {
    cursor: pointer;
    font-family: roboto;
    font-weight: lighter;
    background-color: grey;
    border: none;
    color: white;
    padding: 10px 50px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 15px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 3px 10px 0 rgba(0,0,0,0.19);
    transition: 0.3s;
    border-radius: 50px;
    margin: 5px;
}

#prices-container {
	width: 80%;
}

input {
    cursor: pointer;
}

.price {
    cursor: pointer;
	padding: 5px;
	margin-left: 50px;
	margin-right: 50px;
}

.selected-price {
	color: #FF7A00; /* Orange */
}

.unselected-price {
	color: black;
	opacity: 40%;
}

#categories-custom-input {
    cursor: text;
    margin-bottom: 10px;
}

#categories-container {
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;
    float: left;
    height: auto;
}

input[type="radio"] {
    display: none;
}

input.price-input[type="radio"]:checked ~ h3{
    color: #FF7A00;
    opacity: 100%;
}

input.category-input[type="radio"]:checked ~ div{
    background-color: #FF7A00;
    color: white;
    opacity: 100%;
}