h1, h2, h3 {
	font-family: 'Roboto', serif;
	font-weight: 900;
    margin: 0;
}

p {
    font-weight: 400;
}

.middle {
 	margin: 0 auto;
}

.shift-down {
    transform: translate(0%, 5%);
}

.text-left {
	text-align: left;
}

.text-center {
	text-align: center;
}

.display-block {
    font-family: 'Roboto', serif;
	border: none;
	display: block;
}

.display-inline {
	display: inline;
    margin: 0;
}

.inline-block {
    display: inline-block;
}

.standard-block {
	width: 60%;
}

.standard-button {
    background-color: #F95A00; /* Light orange */
    font-weight: 200;
    border: none;
    color: white;
    padding: 10px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 3px 10px 0 rgba(0,0,0,0.19);
    transition: 0.3s;
    border-radius: 50px;
}

.standard-button:hover {
    cursor: pointer;
    box-shadow: 0 12px 20px 0 rgba(0,0,0,0.2), 0 8px 22px 0 rgba(0,0,0,0.19);
}

/********************************** Navigation CSS **********************************/
* {
  margin: 0;
}

#nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #FF7A00; /* Orange */
    line-height: 1;

}

.nav-item a {
    font-family: 'Roboto';
    font-weight: 900;
    display: block;
    color: white;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none !important;

}

.nav-item a:hover {
    color: white;
    text-decoration: none !important;
    opacity: 40%;
}

#main-label {
    margin-left: 50px;
    font-size: 30px;
    float: left;
}

#about-label {
    margin-right: 50px;
    float: right;
    padding-top: 8px;
    font-size: 16px !important;

}

/********************************** Main page CSS **********************************/

#main-layout {
    margin: 0 auto;
    transform: translate(0%, 15%);
}

#start-button {
    position: relative;
    top: 20px;
}

#main-title {
	font-size: 70pt;
	color: #FF7A00; /* Orange */
}

#main-subtitle {
    font-size: 15pt;
	opacity: 60%;
    position: relative;
    top: -8px;
}

#cover-pic {
	width: 300px;
 	border-radius: 50%;
}

/******************************* Preferences page CSS *******************************/


.info-block {
    overflow: auto;
  	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2), 0 3px 10px 0 rgba(0,0,0,0.19);
    padding: 30px;
  	margin-top: 25px;
  	margin-bottom: 25px;
    font-family: 'Roboto';
}

.info-title {
	margin-right: 30px;
}

.category-display {
    cursor: pointer;
    font-family: 'Roboto';
    font-weight: 400;
    background-color: grey;
    border: none;
    color: white;
    padding: 10px 50px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 15px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 3px 10px 0 rgba(0,0,0,0.19);
    transition: 0.3s;
    border-radius: 50px;
    margin: 5px;
}

#categories-search {
    margin-top: 5px;
}

#prices-container {

    display: flex;
    width: 80%;
    float: right;
    justify-content: space-around;
}

input {
    cursor: pointer;
}

.price {
    cursor: pointer;
}

.selected-price {
	color: #FF7A00; /* Orange */
}

.unselected-price {
	color: black;
	opacity: 40%;
}

#categories-custom-input {
    cursor: text;
    margin-bottom: 10px;
}

#categories-container {
    margin-top: 5px;
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;
    float: left;
    height: auto;
}

input[type="radio"] {
    display: none;
}

input.price-input[type="radio"]:checked ~ h3{
    color: #FF7A00;
    opacity: 100%;
}

input.category-input[type="radio"]:checked ~ div{
    background-color: #FF7A00;
    color: white;
    opacity: 100%;
}

#finish-prefs-button {
    float: right; 
    margin-bottom: 40px;
}


/******************************* Selection page CSS *******************************/
.img-display {
    float: left; 
    width: 50%; 
    height: 100%; 
    overflow: hidden;
    display: inline-block;
    border-radius: 10px 0 0 10px;
}

.review-count-display {
    margin: 10px;
    width: auto;
    height: auto;
    position: relative;
    font-weight: 400;
    font-size: 12px;
}

.text-display {
    width: 40%;
    float: left;
    display: inline-block;
    padding: 5% 0 0 5%;
    font-weight: 400;
    font-size: 16px;
}

/* elements on stacked cards */
.card-item { 
    background: #FFFFFF; 
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 3px 10px 0 rgba(0,0,0,0.19);
}

.card-title {
    font-size: 40px;
    padding-bottom: 10px;
}

.vertical-pad {
    padding: 2% 0;
}

.bullet {
    padding: 0 5px;
}


/******************************* Finish page CSS *******************************/
.final-result-block {
    height: 250px;
    width:100%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 3px 10px 0 rgba(0,0,0,0.19);
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.thumbnail {
    float: left;
    width: 40%;
    height: 100%;
    border-radius: 20px 0 0 20px;
}

.smaller-review-count-display {
    font-size: 10px;
    vertical-align: text-top;
    margin: 0 5%;
}

.smaller-text-display {
    font-size: 15px;
}

#map {
    width: 100%; 
    height: 400px;
    margin-top: 20px;
    margin-bottom: 20px;
}

/******************************* About page CSS *******************************/
.about-text {
    font-weight: 200;
    opacity: 60%;
}

.about-subtitle {
    opacity: 70%;
}
